# -*- coding: utf-8 -*-
{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="page">
  <div class="page-content vertical-align-middl">

{% include "mensajes_boostrap.html" %}

      
      <div class="brand">
        <h2 class="brand-text">Actualizar condominio</h2>
      </div>
      <form method="POST" role="form">{% csrf_token %}
        <div class="form-group">
        {{ form.as_p }}	
        </div>
        <button type="submit" class="btn btn-primary">Actualizar edificacion</button>
      </form>
      <div class="form-group clearfix">          
          <button type="button" class="btn btn-info btn-block" onclick="history.back();">Volver</button>
      </div>
    
{{ form.errors }}


</div>
</div>

{% endblock contenido %}
