{% extends "base.html" %}
{% load static %}
{% block contenido %}

<div class="page">
  <div class="page-content">
  {% include "mensajes_boostrap.html" %} 
  
<div class="panel">
      <div class="panel-body container-fluid">


    <div class="container">

        <div class="page-header">
            <h4>
                <strong>Eliminando: {{ ServicioMensual.ServicioMensual }}</strong>
            </h4>
        </div><!-- page-header -->

        <div class="row">
            
            <div class="col-md-12">
                <form role="form" action="{% url 'administradora_app:servicioMensualEliminar' ServicioMensual.id %}" method="POST">
                {% csrf_token %}
                    <p class="">¿Desea eliminar el ServicioMensual "{{ ServicioMensual.servicioMensual }}"?</p>

                    <input type="submit" value="Sí" class="btn btn-danger"> 
                    <a href="{% url 'administradora_app:servicioMensualListar' %}" class="btn btn-default">No</a>
                </form>


            </div><!-- col-md-12 -->

        </div><!-- /row -->

    </div><!-- /container -->


      </div>
    </div>


  </div>
</div>



{% endblock contenido %}
