{% extends "base.html" %}
{% load static %}
{% block contenido %}

<div class="page animsition">
  <div class="page-content">

{% include "mensajes_boostrap.html" %}
            <div class="page-header">
              <h3>
                  <strong>Edificaciones </strong>
              </h3>
              <div class="text-right"><a style="text-decoration:none" href="{% url 'administradora_app:registrarTipoEdificacion' %}" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open">Nuevo</span></a></div>
            </div><!-- page-header -->
          <div class="panel">
            <header class="panel-heading">
              <h4 class="panel-title">
                  Tienes <span class="label label-info">{{ cantidad }}</span> Edificaciones registradas
              </h4>
            </header>
            <div class="panel-body">

                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2">Edificaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipoEdificacion in object_list %}
                        <tr>
                          <td colspan="2"><a style="text-decoration:none" href="{% url 'administradora_app:tipoEdificacionActualizar' tipoEdificacion.id %}" data-rel="external">{{ tipoEdificacion.edificacion }}</a></td>                  
                          <td class="text-center">
                                <a style="text-decoration:none" href="{% url 'administradora_app:tipoEdificacionActualizar' tipoEdificacion.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil">Actualizar</span></a>
                                {% if tipoEdificacion.estatus == 1 %}
                                <a style="text-decoration:none" href="{% url 'administradora_app:tipoEdificacionEliminar' tipoEdificacion.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash">Desactivar</span></a>
                                {% else %}
                                <a style="text-decoration:none" href="{% url 'administradora_app:tipoEdificacionEliminar' tipoEdificacion.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-trash">Reactivar</span></a>
                                {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
  </div>
</div>



{% endblock contenido %}
