{% extends "base.html" %}
{% load static %}
{% block contenido %}

<div class="page animsition">
  <div class="page-content">

{% include "mensajes_boostrap.html" %}
            <div class="page-header">
              <h3>
                  <strong>Condominios </strong>
              </h3>
              <div class="text-right"><a style="text-decoration:none" href="{% url 'administradora_app:condominioRegistrar' %}" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open">Nuevo</span></a></div>
            </div><!-- page-header -->
          <div class="panel">
            <header class="panel-heading">
              <h4 class="panel-title">
                  Tienes <span class="label label-info">{{ cantidad }}</span> Condominios registrados
              </h4>
            </header>
            <div class="panel-body">

                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2">Nombre del condominio</th>
                            <th>Rif</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for condominio in object_list %}
                        <tr>
                          <td colspan="2"><a style="text-decoration:none" href="/condominio/actualizar/{{ condominio.id }}" data-rel="external">{{ condominio.condominio }}</a></td>
                          <td>{{ condominio.rif }}</td>
                          <td>{{ condominio.correo }}</td>
                          <td>{{ condominio.nombreEdificacion }}</td>
                          <td class="text-center">
                                <a style="text-decoration:none" href="{% url 'administradora_app:condominioDetalle' condominio.id %}" class="btn btn-success"><span class="glyphicon glyphicon-eye-open">Detalle</span></a>
                                <a style="text-decoration:none" href="{% url 'administradora_app:condominioActualizar' condominio.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil">Actualizar</span></a>
                                <a style="text-decoration:none" href="{% url 'administradora_app:condominioEliminar' condominio.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash">Eliminar</span></a>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
  </div>
</div>



{% endblock contenido %}
