{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="page">
  <div class="page-content">
{% include "mensajes_boostrap.html" %} 
      <div class="page-content vertical-align-middle">
      <div class="brand">
        <h2 class="brand-text">Registrar usuario para el sistema</h2>
      </div>
        <div class="form-group">     
      <form method="POST" role="form">{% csrf_token %}     
        <div class="form-group">
          {{ form.nombre }}
          {{ form.nombre.errors }}
        </div>
        <div class="form-group">
          {{ form.apellido }}
          {{ form.apellido.errors }}
        </div>
        <div class="form-group">
          {{ form.cedula }}
          {{ form.cedula.errors }}
        </div>  
        <button type="submit" class="btn btn-primary btn-block">Pre-registrar usuario</button>
      </form>
      <div class="form-group clearfix">          
          <button type="button" class="btn btn-info btn-block" onclick="history.back();">Volver</button>
      </div>
    </div>
{{ form.errors }}
</div></div>



{% endblock contenido %}
