{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="page">
      <div class="page-content vertical-align-middle">
      {% include "mensajes_boostrap.html" %} 
      <div class="brand">
         {{ prueba }}
        <h2 class="brand-text">Registrar proveedor</h2>
      </div>
      <form method="POST" role="form">{% csrf_token %}
		
        <div class="form-group">
          {{ form.proveedor }}
          {{ form.proveedor.errors }}
        </div>
        <div class="form-group">
          {{ form.condominio }}
          {{ form.condominio.errors }}
        </div>        
        <div class="form-group">
          {{ form.rif }}
          {{ form.rif.errors }}
        </div>
        <div class="form-group">
          {{ form.telefono }}
          {{ form.telefono.errors }}
        </div>        
        <div class="form-group">
          {{ form.correo }}
          {{ form.correo.errors }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">guardar proveedor</button>
      </form>
      <div class="form-group clearfix">          
          <button type="button" class="btn btn-info btn-block" onclick="history.back();">Volver</button>
      </div>
    </div>
{{ form.errors }}

</div>

{% endblock contenido %}
