{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="page">
      <div class="page-content vertical-align-middle">
      {% include "mensajes_boostrap.html" %} 
      <div class="brand">
        <h2 class="brand-text">Costos mensuales</h2>
      </div>
        <div class="form-group">
          {{ form.condominio }}
          {{ form.condominio.errors }}
        </div>        
      <form method="POST" role="form">{% csrf_token %}     
        <div class="form-group">
          {{ form.proveedor }}
          {{ form.proveedor.errors }}
        </div>
        <div class="form-group">
          {{ form.costo }}
          {{ form.costo.errors }}
        </div>                 
        <button type="submit" class="btn btn-primary btn-block">guardar servicio</button>
      </form>
      <div class="form-group clearfix">          
          <button type="button" class="btn btn-info btn-block" onclick="history.back();">Volver</button>
      </div>
    </div>
{{ form.errors }}

</div>

{% endblock contenido %}
