{% extends "base.html" %}
{% load static %}
{% block contenido %}

      <div class="page-content vertical-align-middle">
      <div class="brand">
         {{ prueba }}
        <h2 class="brand-text">Registrar proveedor</h2>
      </div>
      <form method="POST" role="form">{% csrf_token %}
		
        <div class="form-group">
          <label for="proveedor">Nombre</label>
          {{ form.proveedor }}
          {{ form.proveedor.errors }}
        </div>
        <div class="form-group">
          <label for="condominio">condominio</label>
          {{ form.condominio }}
          {{ form.condominio.errors }}
        </div>        
        <div class="form-group">
          <label for="inputEmail">Rif</label>
          {{ form.rif }}
          {{ form.rif.errors }}
        </div>
        <div class="form-group">
          <label for="telefono">telefono</label>
          {{ form.telefono }}
          {{ form.telefono.errors }}
        </div>        
        <div class="form-group">
          <label for="correo">correo</label>
          {{ form.correo }}
          {{ form.correo.errors }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">guardar proveedor</button>
      </form>
      <div class="form-group clearfix">          
          <a class="pull-center" href="{% url 'usuarios_app:inicio' %}">Volver</a>
      </div>
    </div>
{{ form.errors }}



{% endblock contenido %}
