{% extends "base.html" %}
{% load static %}
{% block contenido %}

<div class="page animsition">
  <div class="page-content">

          <div class="panel">
            <header class="panel-heading">
              <h3 class="panel-title">Condominios</h3>
            </header>
            <div class="panel-body">
              <table class="tablesaw table-striped table-bordered" data-tablesaw-mode="columntoggle"
              data-tablesaw-minimap>
                <thead>
                  <tr>
                    <th data-tablesaw-priority="persist">Nombre</th>
                    <th data-tablesaw-priority="2">RIF</th>
                    <th data-tablesaw-priority="1">
                      <abbr title="Rotten Tomato Rating">Telefono</abbr>
                    </th>
                    <th data-tablesaw-priority="4">Nombre edificio</th>
                  </tr>
                </thead>
                <tbody>
                  {% for condominio in object_list %}
                  <tr>
                    <td><a href="condominio/{{ condominio.id }}" data-rel="external">{{ condominio.condominio }}</a></td>
                    <td>{{ condominio.rif }}</td>
                    <td>{{ condominio.telefono }}</td>
                    <td>{{ condominio.nombreEdificacion }}</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>


  </div>
</div>



{% endblock contenido %}
