{% load static %}
<!DOCTYPE html>
<html class="no-js before-run" lang="es">

  {% include "head.html" %}

<body>

  {% include "header.html" %}

  {% include "menu-izq.html" %}

  {% block contenido %}
      
  {% endblock contenido %}

  <footer class="site-footer">
    <div class="site-footer-right">© Administradora JJ24-30 - {% now "Y" %}
    </div>
  </footer>

  <!-- Core  -->
  <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
  <script src="{% static 'vendor/animsition/jquery.animsition.js' %}"></script>
  <script src="{% static 'vendor/asscroll/jquery-asScroll.js' %}"></script>
  <script src="{% static 'vendor/mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'vendor/asscrollable/jquery.asScrollable.all.js' %}"></script>
  <script src="{% static 'vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>

  <!-- Plugins -->
  <script src="{% static 'vendor/switchery/switchery.min.js' %}"></script>
  <script src="{% static 'vendor/intro-js/intro.js' %}"></script>
  <script src="{% static 'vendor/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'vendor/slidepanel/jquery-slidePanel.js' %}"></script>
  
  <!-- Scripts -->
  <script src="{% static 'js/core.js' %}"></script>
  <script src="{% static 'js/site.js' %}"></script>

  <script src="{% static 'js/sections/menu.js' %}"></script>
  <script src="{% static 'js/sections/menubar.js' %}"></script>
  <script src="{% static 'js/sections/sidebar.js' %}"></script>

  <script src="{% static 'js/configs/config-colors.js' %}"></script>
  <script src="{% static 'js/configs/config-tour.js' %}"></script>

  <script src="{% static 'js/components/asscrollable.js' %}"></script>
  <script src="{% static 'js/components/animsition.js' %}"></script>
  <script src="{% static 'js/components/slidepanel.js' %}"></script>
  <script src="{% static 'js/components/switchery.js' %}"></script>

  <!-- Extras -->
  <!-- Formulario Label Flotante -->
  <script src="{% static 'vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
  <script src="{% static 'js/components/jquery-placeholder.js' %}"></script>
  <script src="{% static 'js/components/material.js' %}"></script>

  <!-- Campo Calendario -->
  <script src="{% static 'vendor/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/components/bootstrap-datepicker.js' %}"></script>
  
  <!-- Fin extras -->
  
  <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });
    })(document, window, jQuery);
  </script>

</body>

</html>