{% load static %}
<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed contenedor_menu_alt" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon wb-more-horizontal" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center contenedor_titulo">
        <img class="navbar-brand-logo" src="{% static 'img/icono_menu.png' %}">
        <span class="navbar-brand-text text-menu">Administradora JJ24-30</span>
      </div>
    </div>

    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <li class="hidden-xs" id="toggleFullscreen">
            <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
              <span class="sr-only">Toggle fullscreen</span>
            </a>
          </li>       
        </ul>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li role="presentation">
            <a href="javascript:void(0)" role="menuitem">        
            {% if user.is_authenticated %}
                Bienvenido(a) <b>{{ user.nombre }}.</b></a>              
            {% endif %}
          </li>

          <li class="dropdown dropdown-fw dropdown-mega">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="slide-top" role="button"><i class="icon wb-user" aria-hidden="true"></i> Perfil</a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <div class="mega-content">
                  <div class="row">
                    <div class="col-sm-12">
                      
                      <div class="panel-body container-fluid">
                        <div class="row row-lg">
                          <div class="col-sm-12">
                            <h3>Modificar Perfil</h3>
                            
                            <div class="example-wrap">
                              <div class="example">
                                <form method="post">{% csrf_token %}
                                  <div class="form-group row">
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control" name="nombre" required value="{{ user.nombre }}"/>
                                    </div>
                                    <div class="col-sm-6">
                                      <input type="text" class="form-control" name="apellido" required value="{{ user.apellido }}"/>
                                    </div>
                                  </div>
                                  
                                  <div class="form-group row">
                                    <div class="col-sm-6">
                                      <input type="number" class="form-control" name="cedula" required value="{{ user.cedula }}"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" name="correo" required value="{{ user.correo }}"/>
                                    </div>                                    
                                  </div>

                                  <div class="form-group row">
                                    <div class="col-sm-6">                                      
                                      {% if user.telefono_habitacion %}
                                        <input type="number" class="form-control" name="telefono_habitacion" value="{{ user.telefono_habitacion }}"/>
                                      {% else %}
                                        <input type="number" class="form-control" name="telefono_habitacion" placeholder="Ingresa tu numero de telefono local"/>
                                      {% endif %}
                                    </div>
                                    <div class="col-sm-6">                                      
                                      {% if user.telefono_movil %}
                                        <input type="number" class="form-control" name="telefono_movil" value="{{ user.telefono_movil }}"/>
                                      {% else %}
                                        <input type="number" class="form-control" name="telefono_movil" placeholder="Ingresa tu numero de telefono movil"/>
                                      {% endif %}
                                    </div>                                    
                                  </div>

                                  <div class="form-group row">
                                    <div class="col-sm-6">                                      
                                      <input type="text" class="form-control" name="usuario" required value="{{ user.usuario }}"/>
                                    </div>
                                    <div class="col-sm-6">                                      
                                      {% if user.numero_vivienda %}
                                        <input type="text" class="form-control" name="numero_vivienda" value="{{ user.numero_vivienda }}"/>
                                      {% else %}
                                        <input type="text" class="form-control" name="numero_vivienda" placeholder="Ingresa tu numero de vivienda"/>
                                      {% endif %}
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Modificar</button>
                                  </div>
                                </form>

                                <h3>Cambiar Clave</h3> 

                                <form method="post">{% csrf_token %}
                                  <div class="form-group row">
                                    <div class="col-sm-6">
                                      <input type="password" class="form-control" name="password" id="inputPassword" required placeholder="Ingresa tu clave"/>
                                    </div>
                                    <div class="col-sm-6">
                                      <input type="password" class="form-control" name="passwordConfirma" id="inputPasswordConfirma" required placeholder="Confirma tu clave"/>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Cambiar</button>
                                  </div>
                                </form>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>

          <li role="presentation">
            <a href="{% url 'usuarios_app:logOut' %}" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Cerrar Session</a>
          </li>
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->
    </div>
  </nav>