{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="La Administradora JJ24-30 es una empresa prestadora de servicios a los condominios del país el cual le ofrece la facilidad de poder administrar sus cuentas y servicios públicos o especiales para así brindarles la mejor satisfacción a nuestros propietarios del condominio">
    <meta name="author" content="Tecnoagropro">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icono.png' %}">

    <title>Administradora JJ24-30</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Overwrite bootstrap style -->
    <link href="{% static 'frontend/css/overwrite.css' %}" rel="stylesheet">
	
	<!-- Font -->
    <link href="{% static 'fonts/open-sans/stylesheet.css' %}" rel="stylesheet">

    <!-- Icons -->
    <link href="{% static 'frontend/css/icons.css' %}" rel="stylesheet">
	
    <!-- Jssor Slider -->
    <link href="{% static 'frontend/css/jssor-slider.css' %}" rel="stylesheet">
	
    <!-- Jwg Slider -->	
    <link href="{% static 'frontend/css/jwgslider.css' %}" rel="stylesheet">
	
    <!-- prettyPhoto -->
    <link href="{% static 'frontend/css/prettyPhoto.css' %}" rel="stylesheet">
	
    <!-- Owl carousel -->
    <link href="{% static 'frontend/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/owl.transitions.css' %}" rel="stylesheet">
    
    <!-- Jwg Slider -->
    <link href="{% static 'frontend/css/masonry.css' %}" rel="stylesheet">
      
    <!-- Custom styles for this template -->
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

    <!-- Skins style -->
    <link href="{% static 'frontend/css/default.css' %}" rel="stylesheet">
	
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'frontend/js/ie-emulation-modes-warning.js' %}"></script>
    
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script> 
  </head>

  <body id="home">
	<!-- Start preloading -->
	<div id="loading" class="loading-invisible">
		<div class="loading-center">
			<div class="loading-center-absolute">
				<div class="object" id="object_four"></div>
				<div class="object" id="object_three"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_one"></div>
			</div>
			<p>Espere por favor...</p>
		</div>
	</div>
	<script type="text/javascript">
		  document.getElementById("loading").className = "loading-visible";
		  var hideDiv = function(){document.getElementById("loading").className = "loading-invisible";};
		  var oldLoad = window.onload;
		  var newLoad = oldLoad ? function(){hideDiv.call(this);oldLoad.call(this);} : hideDiv;
		  window.onload = newLoad;
	</script>
	<!-- End preloading -->

	<!-- Start navbar -->
    <nav class="navbar navbar-fixed-top">
        <div class="container relative">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon icon-menu"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{% static 'frontend/img/logo-top.png' %}" alt="" /></a>
            </div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav"> 
					<li class="page-scroll active"><a href="#home">Inicio</a></li>
					<li class="page-scroll"><a href="#about">La Empresa</a></li>
					<li class="page-scroll"><a href="#features">Servicios</a></li>
					<!--<li class="page-scroll"><a href="#gallery">Galeria</a></li>-->
					<li class="page-scroll"><a href="#pricing">Enlaces de Interés</a></li>
					<!--<li class="page-scroll"><a href="#team">Equipo</a></li>-->
					<!--<li class="page-scroll"><a href="#blog">Blog</a></li>-->
					<li class="page-scroll"><a href="#contact">Contacto</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<!-- End navbar -->
	
	<!-- Start featured -->
	<div class="featured">
		<div class="container">
			<div class="row form-wrapper">
				<div class="col-lg-12">
					<img src="{% static 'frontend/img/banner.png' %}" class="img-responsive" alt=""/>
				</div>
				<div class="main-form">
					<img src="{% static 'frontend/img/logo.png' %}" class="img-responsive" alt=""/>
					<p>
					Ingresa en nuestro sistema de administracion de condominio
					</p>
                    <h2 align="center">INICIO DE SESION</h2>
					<form method="post" class="form-horizontal">{% csrf_token %}
						<div class="form-group">
							<div class="col-lg-12">
								{{ login_form.usuario }}
                                {{ login_form.usuario.errors }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								{{ login_form.password }}
                                {{ login_form.password.errors }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<button type="submit" class="btn btn-primary btn-bavel btn-block">Acceder</button>
							</div>									
						</div>
                        <div class="form-group">          
                          <a class="pull-left" href="{% url 'usuarios_app:registro' %}">Registrate</a>
                          
                          <a class="pull-right" href="forgot-password.html">¿Olvidaste tu clave?</a>
                        </div>									
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End featured -->

    <div class="clearfix"></div>
      
    <!-- Start About Us -->  
    <section id="about" class="about">
        <div class="container">
            <!-- Start title --> 
            <div class="title-section">
                <h3>La Empresa <strong>¿QUIÉNES SOMOS?</strong></h3>
            </div>
            <!-- End title -->
            <div class="row">
                <div class="col-md-6 col-md-push-6"><img src="img/about/girl.jpg" class="img-responsive" alt=""></div>
                <div class="col-md-6 col-md-pull-6">
                    <!-- Start Tabs Features -->
                    <div id="tab-slider" class="jwg_slider_module">
                        <!-- Start Navigation Tab -->
                        <div class="tabbed_navigation">
                          <ul>
                            <li class="active">¿Quiénes Somos?</li>   
							<li>Misión</li>							
                            <li>Visión</li>
                          </ul>      
                        </div>
                        <!-- End Navigation Tab -->
                        <!-- Start Tab Slides -->
                        <div class="slides"> 
                            <!-- Start Slide 01 -->
                            <div class="slide">
                                <p align="justify">
                                <strong>Administradora JJ24-30.C.A.</strong> Es la empresa que se encarga a través del desempeño de sus colaboradores de mantener un alto nivel de calidad de vida en los condominios, y centros comerciales, así como de fomentar y apoyar el desarrollo integral de éstos, por medio de una administración organizada y eficiente de manera estructurada. Nuestra organización cuenta con un personal altamente calificado, conformado por profesionales (Economistas, abogados, contadores públicos y trabajadores sociales) egresados de las universidades más prestigiosas del país, esta multidisciplinariedad brinda un alto nivel de precisión en la administración de sus bienes del modo más eficiente y productivo, bajo la firme convicción de que el buen desempeño de nuestras funciones lograrán elevar el nivel de calidad de vida.
                                </p>
                                <!-- Start Services -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 box-icon">
                                        <span class="icon icon-basket icon-primary"></span>
                                        <h5>E-Commerce</h5>
                                        <p>
                                        Dicunt philosophia. Et suas labores vix, elaboraret conclusionemque quo cu. Nec dolor perfecto ne. 
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-6 box-icon">
                                        <span class="icon icon-magnifying-glass icon-tertiary"></span>
                                        <h5>S.E.O Services</h5>
                                        <p>
                                        Dicunt philosophia. Et suas labores vix, elaboraret conclusionemque quo cu. Nec dolor perfecto ne. 
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-6 box-icon">
                                        <span class="icon icon-laptop icon-secondary"></span>
                                        <h5>Landing Page</h5>
                                        <p>
                                        Dicunt philosophia. Et suas labores vix, elaboraret conclusionemque quo cu. Nec dolor perfecto ne. 
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-6 box-icon">
                                        <span class="icon icon-linegraph icon-quaternary"></span>
                                        <h5>Social Network</h5>
                                        <p>
                                        Dicunt philosophia. Et suas labores vix, elaboraret conclusionemque quo cu. Nec dolor perfecto ne. 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Services -->
                            </div> 
                            <!-- End Slide 01 -->
                            <!-- Start Slide 02 -->
                            <div class="slide">
								<p align="justify">
								Ofrecer a nuestros aliados el más elevado servicio de administración y asesoramiento, que permita consolidar el mayor bienestar posible a través de la optimización de los recursos disponibles.
								</p>
								<blockquote>
									<p>
									His in labores deserunt concludaturque. Vix in mucius aliquip tractatos, vix cu munere legere verear. Pertinax partiendo maiestatis sit id sea eirmod.
									</p>
								</blockquote>
                            </div>   
                            <!-- End Slide 02 -->
                            <!-- Start Slide 03 -->
                            <div class="slide">
                                <p align="justify">
                                Ser la empresa líder en la prestación de servicios de administración y asesoramiento. Asimismo, permitir el desarrollo integral de nuestros aliados, las comunidades y el de la organización bajo el siguiente esquema:
                            <br>
                                  En donde los aliados son aquellos condominios y demás organizaciones a los cuales se encuentran destinados nuestros servicios. Las comunidades son la base fundamental de la sociedad, son el conjunto de individuos que comparten elementos en común.

                                </p>


								<ul class="list-unstyled">
									<li>
										 <span class="icon icon-download icon-3x icon-primary alignleft"></span>
										<h5>Download template</h5>
										<p>
										Pertinax partiendo maiestatis sit id, sea eirmod appellantur has putant vituperata ei, ullum alienum ei vis mei lorem atomorum no..
										</p>
									</li>
									<li>
										 <span class="icon icon-tools-2 icon-3x icon-tertiary alignleft"></span>
										<h5>Customize template</h5>
										<p>
										Pertinax partiendo maiestatis sit id, sea eirmod appellantur has putant vituperata ei, ullum alienum ei vis mei lorem atomorum no..
										</p>
									</li>
									<li>
										 <span class="icon icon-browser icon-3x icon-secondary alignleft"></span>
										<h5>Awesome website</h5>
										<p>
										Pertinax partiendo maiestatis sit id, sea eirmod appellantur has putant vituperata ei, ullum alienum ei vis mei lorem atomorum no..
										</p>
									</li>
									<li>
										 <span class="icon icon-clock icon-3x icon-quaternary alignleft"></span>
										<h5>24/7 support</h5>
										<p>
										Pertinax partiendo maiestatis sit id, sea eirmod appellantur has putant vituperata ei, ullum alienum ei vis mei lorem atomorum no..
										</p>
									</li>
                                </ul>
                            </div>    
                            <!-- End Slide 03 -->
                        </div>  
                        <!-- End Tab Slides -->
                    </div>  
                    <!-- End Tabs Features -->
                </div>
            </div>        
        </div>
    </section>  
    <!-- End About Us -->
            
    <div class="clearfix"></div>
    
    <!-- Start Features -->
    <section id="features" class="gray">
        <div class="container">
            <!-- Start title --> 
            <div class="title-section">
                <h3>¿Por qué Nosotros? <strong>Servicios</strong></h3>
            </div>
            <!-- End title -->
            <div class="row">
            <div class="col-md-6">
                    <!-- Start Background Content -->
                    <div class="bg-content">
                        <div class="content">
                            <h4>Get it today <b>We are you waiting for</b></h4>
                            <p>
                            Eu vivendum leifend eam, id mei velit scripserit, his alterum euripidis reprimique ei. Vis dolore tempor neglegentur ne. Nec dolor perfecto appareat cu mel, vel id quodsi mediocrem urbanitas.
                            </p>
                            <a href="#" class="btn btn-primary btn-bavel btn-lg btn-x-lg">Join with us <i class="icon-arrow-right2"></i></a>
                        </div>
                    </div>
                    <!-- End Background Content -->
                </div>
                <div class="col-md-6">
                    <!-- Start Accordion -->
                    <div class="panel-group" id="accordion">
                        <!-- Start Accordion 01 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="icon icon-adjustments icon-primary"></span>
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">¿Qué ofrecemos?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p align="justify">
                                    <strong>Administradorajj24-30ca,</strong> presenta para nuestros aliados una renovada estructura en la atención de las necesidades condominiales, por medio del  abordaje holístico  de cada realidad.
                                    Nos enfocamos en suministrar  respuestas a tus inquietudes, vamos más allá de la simple emisión y envío de las planillas de pago mensuales, nuestro trato se caracteriza por la atención minuciosa acerca del tema planteado.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Accordion 01 -->
                        <!-- Start Accordion 02 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="icon icon-library icon-tertiary"></span>
                                    <a data-toggle="collapse" data-parent="#accordion" href="#mobile">En lo Jurídico</a>
                                </h4>
                            </div>
                            <div id="mobile" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">
                                    <strong>Asesorías y acompañamiento:</strong>
                                    <ul>
                                        <li>En la implementación de reglamento interno de convivencia, lo cual establece lineamientos en el comportamiento de tus vecinos con el entorno condominial.</li>
                                        <li>En la elaboración de normas según área común.</li>
                                        <li>De un plan de trabajo que disminuye la mora y trabaja hasta erradicarla.</li>
                                        <li>Y en general asesorías propias de la trama condominial.</li>
                                    <ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Accordion 02 -->
                        <!-- Start Accordion 03 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="icon icon-office icon-secondary"></span>
                                    <a data-toggle="collapse" data-parent="#accordion" href="#beaker">En lo Adminitrativo</a>
                                </h4>
                            </div>
                            <div id="beaker" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p align="justify">
                                    <ul>
                                        <li>Administración del condominio.</li>
                                        <li>Emitimos y enviamos las planillas de pagos mensuales.</li>
                                        <li>A través de nuestra web, y por medio de usuario y clave de acceso,  podrás visualizar las planillas de pago, estados de cuentas por pagar, cuentas por cobrar, así como el balance general.</li>
                                        <li>Gestionamos contratación de  proveedores.</li>
                                        <li>Te ofrecemos el “Módulo de Autogestión Administrativo” que te permitirá administrar tu condominio sin intermediarios.</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Accordion 03 -->
                        <!-- Start Accordion 04 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="icon icon-pushpin icon-quaternary"></span>
                                    <a data-toggle="collapse" data-parent="#accordion" href="#browser">En lo económico y social</a>
                                </h4>
                            </div>
                            <div id="browser" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p >
                                    <ul align="justify">
                                        <li>Nos adaptamos a la realidad cambiante, económica, y social del país, y su implicación en el entorno condominial  a través del análisis constante del mismo, de esa coyuntura innovamos para garantizar las acciones oportunas, dando respuestas a las necesidades.</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Accordion 04 -->
                    </div>
                    <!-- End Accordion -->
                </div>
            </div>
        </div>    
    </section>  
    <!-- End Features -->
      
    <div class="clearfix"></div>
      
    <!-- Start Testimonial -->  
    <section id="pricing" class="parallax bg-testimonial" data-background="img/parallax/1.jpg" data-speed="0.4">
        <div class="overlay"></div>
        <div class="container">
            <!-- Start title --> 
            <div class="title-section small">
                <h4>Enlace de interés</h4>
            </div>
            <!-- End title -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Start Testimonial item -->
                    <div id="testimonail" class="testimonial">  
					  <!-- Start testimoni 1 -->
                      <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Código Comercio</p>
                                <p></p>        
                                <footer><a target="_blank" href="http://www.wipo.int/edocs/lexdocs/laws/es/ve/ve029es.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
					   <!-- End testimoni 1 -->
					   
					   <!-- Start testimoni 2 -->
                      <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Ley de arrendamientos inmobiliarios</p>
                                <p></p>          
                                <footer><a target="_blank" href="http://www.psuv.org.ve/wp-content/uploads/2011/02/Anteproyecto-de-Ley-para-la-Regularizaci%C3%B3n-y-Control-de-los-Arrendamientos.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
					   <!-- End testimoni 2 -->
					   
					   <!-- Start testimoni 3 -->
                      <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Ley de Propiedad Horizontal</p>
                                <p></p>     
                                <footer><a target="_blank" href="http://www.obelisco.com.ve/publicaciones/noticias/LeyDePropiedadHorizontal.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
					  <!-- End testimoni 3 -->
					  
					  <!-- Start testimoni 4 -->
                    <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Ley Orgánica del Trabajo, los Trabajadores y Trabajadoras</p>
                                <p></p>          
                                <footer><a target="_blank" href="http://rrhh.unefm.edu.ve/descargar/LOTT.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
					   <!-- End testimoni 4 -->
					   
					   <!-- Start testimoni 5 -->
                    <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Ley Orgánica de prevención, Condiciones y Medios Ambiente de Trabajo</p>        
                                <footer><a target="_blank" href="http://www.inpsasel.gob.ve/moo_doc/lopcymat.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
					   <!-- End testimoni 5 -->
					   
					   <!-- Start testimoni 6 -->
                    <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Ordenanza de convivencia Ciudadana y Sanción de infracciones Menores</p>        
                                <footer><a target="_blank" href="http://www.alcaldiadeiribarren.com.ve/archivos/ordenanzas/1672_ord_convivencia_ciudadana.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
					  <!-- End testimoni 6 -->
					  
					  <!-- Start testimoni 7 -->
                    <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Ley de Protección al Deudor Hipotecario de Vivienda</p>        
                                <footer><a target="_blank" href="http://www.derechos.org.ve/pw/wp-content/uploads/ley_deudor.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
					   <!-- End testimoni 7 -->
					   
					   <!-- Start testimoni 8 -->
                     <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Ley del Régimen Prestacional de Vivienda y Hábitat</p>        
                                <footer><a target="_blank" href="http://images.eluniversal.com//2008/08/04/leyh24.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
					   <!-- End testimoni 8 -->
					   
					   <!-- Start testimoni 9 -->
                     <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Ley Contra el Desalojo y Desocupación Arbitraria de Viviendas</p>        
                                <footer><a target="_blank" href="http://www.mp.gob.ve/c/document_library/get_file?p_l_id=40513&folderId=310193&name=DLFE-2427.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
					  <!-- End testimoni 9 -->

                       <!-- Start testimoni 10 -->
                     <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Ley de Ordenación Urbanística</p>
                                <p></p>    
                                <footer><a target="_blank" href="http://www.ucv.ve/fileadmin/user_upload/auditoria_interna/Archivos/Material_de_Descarga/Ley_Organica_de_Ordenacion_Urbanistica_-_33.868.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
                      <!-- End testimoni 10 -->

                       <!-- Start testimoni 11 -->
                     <div class="item-testimonial">
                        <div class="avatar">
                             <span class="icon-3x icon-hammer2"></span>
                        </div>
                        <div class="content">
                            <blockquote>
                                <p>Reglamento de la Ley para la Regularización y Control de Arrendamientos de Viviendas</p>
                                <footer><a target="_blank" href="http://www.obelisco.com.ve/publicaciones/noticias/REGLAMENTO_LEY_ARRENDAMIENTOS_VIVIENDAS.pdf">Ver más</a></footer>
                            </blockquote>
                        </div>
                      </div>
                      <!-- End testimoni 11 -->
                    </div>
                    <!-- End Testimonial item -->
                </div>
            </div>
        </div>
    </section>  
    <!-- End Testimonial -->
    
    <div class="clearfix"></div>
      
    <!-- Start Twitter -->  
    <div class="parallax bg-twitter"  data-background="img/parallax/2.jpg" data-speed="0.2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <span class="icon icon-twitter4 title-icon-primary"></span>
                    <!-- Start Twitter Feed -->
                    <div id="tweecool"></div>
                    <!-- End Twitter Feed -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Twitter -->
    
    <div class="clearfix"></div>
      
    <!-- Start Contact Us -->
    <section id="contact" class="gray">
        <div class="container">
            <!-- Start title --> 
            <div class="title-section">
                <h3>Contáctate con nosotros<strong>Contacto</strong></h3>
            </div>
            <!-- End title -->
            <!-- Start Form Contact -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-form">
                            <span class="icon icon-profile-male icon-primary icon-form"></span>
                            <input type="text" class="form-control input-lg" placeholder="Ingresa tu nombre...">
                        </div>    
                    </div>
                    <div class="col-md-6">
                        <div class="input-form">
                            <span class="icon icon-envelope icon-secondary icon-form"></span>
                            <input type="text" class="form-control input-lg" placeholder="Ingresa tu correo...">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-form">
                            <span class="icon icon-pencil icon-tertiary icon-form"></span>
                            <textarea class="form-control textarea-lg" placeholder="Escribe tu mensaje aquí..." rows="7"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="input-form cm-bottom">
                            <a href="#" class="btn btn-primary btn-bavel btn-lg btn-x-lg">Enviar Mensaje</a>
                        </div>    
                    </div>
                </div>
            </div>    
            <!-- End Form Contact -->
        </div>  
    </section>  
    <!-- End Contact Us -->  
    
    <div class="clearfix"></div>
    
    <!-- Start Contact Icon -->  
    <div class="parallax contact-icon"  data-background="img/parallax/3.jpg" data-speed="0.2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- Start icon box -->
                    <div class="col-md-4 col-sm-4 box-icon text-center">
                        <span class="icon icon-map icon-primary"></span>
                        <p class="size16">Direccion <br> Calle o Avenida</p>
                    </div>
                    <div class="col-md-4 col-sm-4 box-icon text-center">
                        <span class="icon icon-envelope icon-secondary"></span>
                        <p class="size16">
                        info@yourdamainname.com
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 box-icon text-center">
                        <span class="icon icon-mobile icon-tertiary"></span>
                        <p class="size16">
                        (8080)6554-455-62
                        </p>
                    </div>
                    <!-- End icon box -->
                </div>
            </div>
        </div> 
    </div>  
    <!-- End Contact Icon  -->  
    
    <div class="clearfix"></div>  
    
    <!-- Start Footer -->  
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-item">
                    <!-- Start Social Link -->
                    <ul class="social-network">
                        <li><a href="#"><span class="icon icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon icon-googleplus"></span></a></li>
                    </ul>    
                    <!-- End Social Link -->

                </div>
                <div class="col-md-4 footer-item">
                    <p>
                    2015 &copy; Copyright Administradora JJ 24-30 C.A<br>Todos los derechos reservados.    
                    </p>
                </div>
                
                </div>
            </div>
        </div>  
    </footer>  
    <!-- End Footer -->  

   <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'frontend/js/ie10-viewport-bug-workaround.js' %}"></script>
	
    <!-- jquery easing -->
	<script src="{% static 'frontend/js/jquery.easing.1.3.js' %}"></script>
	
    <!-- Owl carousel -->
	<script src="{% static 'frontend/js/owlcarousel/owl.carousel.js' %}"></script>
    <script src="{% static 'frontend/js/owlcarousel/setting.js' %}"></script>
      
    <!-- Jwg Slider -->
	<script src="{% static 'frontend/js/jwgslider/jwgSlider.js' %}"></script>
    <script src="{% static 'frontend/js/jwgslider/setting.js' %}"></script> 
    
    <!-- Parallax -->
	<script src="{% static 'frontend/js/parallax/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'frontend/js/parallax/setting.js' %}"></script>   
    
    <!-- masonry -->
	<script src="{% static 'frontend/js/masonry/masonry-3.1.4.js' %}"></script>	  
	<script src="{% static 'frontend/js/masonry/masonry.filter.js' %}"></script> 
	<script src="{% static 'frontend/js/masonry/setting.js' %}"></script>
      
	<!-- ticker -->
	<script src="{% static 'frontend/js/ticker/ticker.js' %}"></script>
	<script src="{% static 'frontend/js/ticker/setting.js' %}"></script>
	
	<!-- prettyPhoto -->
	<script src="{% static 'frontend/js/prettyPhoto/jquery.prettyPhoto.js' %}"></script>
	<script src="{% static 'frontend/js/prettyPhoto/setting.js' %}"></script>
	
    <!-- Hover Direction -->
	<script src="{% static 'frontend/js/hoverdirection/jquery.directional-hover.min.js' %}"></script>	
	<script src="{% static 'frontend/js/hoverdirection/setting.js' %}"></script>

    <!--[if lte IE 9]>
    	<script src="js/tweecool/jquery.xdomainrequest.min.js' %}"></script>      
	<![endif]-->
	<!-- Twitter Feed -->
	<script src="{% static 'frontend/js/tweecool/tweecool.js' %}"></script>
	<script src="{% static 'frontend/js/tweecool/setting.js' %}"></script>  
      
	<!-- Go to top -->
	<script src="{% static 'frontend/js/totop/jquery.ui.totop.js' %}"></script>	
	<script src="{% static 'frontend/js/totop/setting.js' %}"></script>
	
	<!-- custom javascript -->
	<script src="{% static 'frontend/js/custom.js' %}"></script>
  </body>
</html>
