{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Administradora JJ24-30">
    <meta name="author" content="Tecnoagropro, C.A">

    <title>Administradora JJ24-30</title>

    <link href="{% static 'img/icono.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

    <link href="{% static 'fonts/font-awesome/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/glyphicons/glyphicons.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--  <img class="nav-brand page-scroll" src="img/logos/logo.png" href="#page-top" width="50" height="50">   -->
                <a class="navbar-brand page-scroll titulo-menu" href="#page-top"> Administradora JJ24-30</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Inicio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#empresa">La Empresa</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#servicios">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#enlaces">Enlaces de Interés</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in titulo-baner">Bienvenido! te invitamos a usar nuestro</div>
                <div class="intro-heading titulo-baner">Sistema de Administración</div>
                <div class="intro-heading titulo-baner"><a href="login">Ingresa Aqui</a></div>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="inicio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bienvenido!</h2>
                    <p class="section-subheading text-muted">  Nos complace brindarle nuestros servicios en cuanto a Administración de Condominios e Inmuebles. Tenga la seguridad que el servicio ofrecido se caracteriza por ser de calidad, seguro y    personalizado, pues asumimos un compromiso profesional y responsable para que reciba la máxima satisfacción.</p>

                    <p class="section-subheading text-muted">   Esto es posible gracias a la experiencia de 9 años, cuando comenzamos con la cobranza en los condominios, luego apostamos a la administración de condominio, y de centros comerciales,  ya que detectamos necesidades en los mismos en su administración, en llevar las cuentas en orden, y orientación en el área condominal.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <h2 align="center"><span class="glyphicon glyphicon-tint"></span><br>Agua</h2>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h2 align="center"><span class="glyphicon glyphicon-flash"></span><br>Electricidad</h2>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h2 align="center"><span class="glyphicon glyphicon-earphone"></span><br>Teléfono</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- La Empresa Grid Section -->
    <section id="empresa" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">La Empresa</h2>
                    <br></br>
                    <h3>¿Quiénes somos?</h3>
                    <p class="section-subheading text-muted">  Nuestra organización cuenta con un personal altamente calificado, conformado por profesionales (Economistas, abogados, contadores públicos y trabajadores sociales) egresados de las universidades más prestigiosas del país, esta multidisciplinariedad brinda un alto nivel de precisión en la administración de sus bienes del modo más eficiente y productivo, bajo la firme convicción de que el buen desempeño de nuestras funciones lograrán elevar el nivel de calidad de vida.</p>
 				</div>
 				<div class="col-xs-12 col-sm-12 col-md-6 text-center">
                    <h3>Misión</h3>
                    <p class="section-subheading text-muted">  Ofrecer a nuestros aliados el más elevado servicio de administración y asesoramiento, que permita consolidar el mayor bienestar posible a través de la optimización de los recursos disponibles.
                    </p>
                </div>
               	<div class="col-xs-12 col-sm-12 col-md-6 text-center">
                    <h3>Visión</h3>
                    <p class="section-subheading text-muted">  Tenemos el objetivo de ser la empresa líder en la prestación de servicios de administración y asesoramiento. Asimismo, permitir el desarrollo integral de nuestros aliados, las comunidades y el de la organización bajo el siguiente esquema:</p>
                </div>
                <div class="col-xs-12 text-center">
                    <img src="{% static 'img/grafica.png' %}"></img>
                </div>
                <div class="col-xs-12 text-center">
                    <p class="section-subheading text-muted">En donde los <strong>aliados</strong> son aquellos condominios y demás organizaciones a los cuales se encuentran destinados nuestros servicios. Las <strong>comunidades</strong> son la base fundamental de la sociedad, son el conjunto de individuos que comparten elementos en común.</p>
                    <p class="section-subheading text-muted"><strong>Administradora JJ24-30.C.A.</strong> Es la empresa encargada que a través del desempeño de sus colaboradores de mantener un alto nivel de calidad de vida en los condominios, y centros comerciales, así como fomentar y apoyar el desarrollo integral de éstos, por medio de una administración organizada y eficiente de manera estructurada.</p>
                    <p class="section-subheading text-muted">La realidad socio económica del país en la actualidad, hace de los inmobiliarios un suntuario muy preciado, por lo que cuidarlo y mantenerlo se hace necesario y es visto como aquel eslabón fundamental para seguir avanzando hacia el desarrollo de los objetivos que se trazan en la vida.
                    Conscientes de ello <strong>Administradora JJ 24-30, C.A.</strong> nace con la finalidad de prestar un servicio en el área de la administración y asesoría, de condominios, y centros, la cual busca, establecer una alianza con nuestros clientes, quienes en este sentido son nuestros aliados, por medio de una innovadora relación circunscrita a la  atención integral y detallada, comprendiendo la totalidad de las situaciones presentadas así como sus necesidades, hasta lograr mejorarlas y mantenerlas.
                    Por ello tenemos como valores la tenacidad, responsabilidad y la confiabilidad.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Servicios Section -->
    <section id="servicios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestros Servicios</h2>
                    <h3 class="section-subheading text-muted">¿Qué ofrecemos?</h3>
                    <p class="section-subheading text-muted">Ofrecemos un <strong>servicio integral de asesoría y administración de condominios</strong> de acuerdo a las necesidades elementales de nuestros clientes, dividido en 2 rubros:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2 align="center"><span class="glyphicon glyphicon-shopping-cart"></span><br>Asesoramiento en Compra, Venta.</h2>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2 align="center"><span class="glyphicon glyphicon-home"></span><br>Arrendamiento de Inmuebles.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="section-subheading text-muted">Contamos con especialistas que se encargan de dar asesoría en todo momento para que nuestros aliados, obtengan con facilidad el beneficio justo por la venta o arrendamiento de su propiedad.</p>
                    <p class="section-subheading text-muted">La gama de posibilidades para vender y arrendar su inmueble es muy amplia, debido a que no solo será ofrecido a aquellas personas que nos contacten directamente, sino que también será publicado en diversos medios de comunicación, haciendo más extensa la oferta.</p>
                    <br></br>
                    <img class="img-responsive img-centered" src="{% static 'img/home-key.png' %}" alt="">
                    <br></br>
					</div>
                <br></br>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="section-subheading text-muted"><strong>Con el fin de lograr de forma eficiente y oportuna nuestro objetivo, seguimos diferentes pasos previamente definidos:</strong></p>
                    <ul>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Avalúo de su inmueble, con la presentación de un informe técnico que permita ubicar el precio ajustado según los índices inflacionarios actuales.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Trámites de las diferentes solvencias y recaudos requeridos para completar la protocolización del documento de compra venta.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Selección y verificación del perfil del inquilino de acuerdo a los parámetros establecidos. Asesoría legal a la hora de elaboración de los diferente documentos implicados en la transacción (opción de compra venta, protocolización, arrendamiento, Etc.).</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Publicidad por medios impresos y por Internet (avisos en prensa y por medio de la página web de nuestra empresa y de múltiples páginas de interés social).</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Información continua y detallada en cualquier momento de la gestión efectuada, mediante notificaciones de correo electrónico y SMS, así como también acceso a su expediente directamente en nuestra página web.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Posible financiamiento en la cancelación de diversos documentos requeridos para la protocolización de la venta o arrendamiento de inmueble.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Ofrecemos asesoría legal en cuanto a la Ley de Alquileres de Propiedad Horizontal.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Asesoramiento y elaboración del contrato de alquiler acorde con los intereses y necesidades del propietario.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Administración de Condominios e inmuebles</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm12 col-md-6 col-lg-6">
                    <p class="section-subheading text-muted">Contamos con una estructura organizativa que integra el capital humano calificado, con la tecnología más avanzada en el campo de condominios, centros comerciales y demás inmuebles, por lo que <strong>estamos en capacidad de brindar un servicio amplio a los inversionistas y/o propietarios de bienes inmuebles,</strong> que por sus múltiples ocupaciones nos delegan la administración de sus propiedades. En este sentido ofrecemos los siguientes servicios:</p>
                    <ul>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Emisión y envío mensual de Balances y Estados de Cuenta con la relación de deudas, cuentas por pagar, etc. que permiten llevar un control sobre la contabilidad del inmueble.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Emisión y envío de recibos de condominios detallados mensuales, con el Balance General indicando los movimientos de las cuentas.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Ser mediadores entre los integrantes de la comunidad condominio en el cumplimiento de las normas internas y externas a fin de mantener la calidad de vida deseada. Todo trabajo que deba efectuarse en el inmueble será aprobado por la Junta de Condominio y/o por la Asamblea de Propietarios, siendo solo cancelado por orden directa de la Junta de Condominio.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Asegurar la legalidad de los acuerdos tomados por la Asamblea de Propietarios, efectuando las Convocatorias, Asambleas y Consultas de acuerdo a las exigencias de las Leyes vigentes.</li>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Estricto control respecto a los gastos facturados en el mes, sin permitir el cobro de facturas que no hayan sido canceladas previamente bajo aprobación de la Junta de Condominio, en consecuencia, será la Junta la que ejerza el control directo sobre los gastos cobrados en los recibos.</li>
                    </ul>
                </div>
            </div>
            <br></br>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="section-subheading text-muted">Contamos con un departamento de cobranzas eficientemente organizado que garantiza el cobro regular de las cuotas de condominio, evitando posibles atrasos. Con la facilidad de que el propietario recibe la visita del cobrador (previamente autorizado) una o dos veces a la semana en horario fijo preestablecido; igualmente puede cancelar en espacios de labores de los trabajadores residenciales (conserjería) o si lo prefiere en nuestra oficina. Asimismo el propietario, pagando un recargo adicional, podrá solicitar una visita de cobro especial en la región de la Gran Caracas.</p>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3" >
                <h3 align="center">sesoría legal, sin costo adicional siempre y cuando se relacione el caso consultado con las áreas comunes del inmueble.</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="section-subheading text-muted">Cancelación de los sueldos del personal laboral en el mismo inmueble para evitar ausencias de estos o aperturas de cuenta nómina en caso de ser necesario.</p>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3" >
                    <ul>
                        <li class="section-subheading text-muted center-block" alling="center"><span class="glyphicon glyphicon-ok"></span> Atención rápida y personalizada a nuestros aliados gracias a un sistema de centralización de la información, que permite conocer de manera inmediata, la situación del Inmueble respecto a: Fondo de Reserva, Cuentas por Pagar y Pagadas, Deudas por Cobrar, Disponibilidad de Fondos, etc. El respaldo de nuestros aliados, que avalan nuestra integral y eficiente gestión administrativa.</li>
                    </ul>
            </div>
    </section>

    <!-- Enlaces de Interés Section -->
    <section id="enlaces" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Enlaces de Interés</h2>
                    <h3 class="section-subheading text-muted">Haz click en cada uno de los link a continuación para ver más acerca de las leyes vigentes:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3" >
                    <ul>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://www.wipo.int/edocs/lexdocs/laws/es/ve/ve029es.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Código Comercio</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://www.psuv.org.ve/wp-content/uploads/2011/02/Anteproyecto-de-Ley-para-la-Regularizaci%C3%B3n-y-Control-de-los-Arrendamientos.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ley de arrendamientos inmobiliarios</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://www.obelisco.com.ve/publicaciones/noticias/LeyDePropiedadHorizontal.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ley de Propiedad Horizontal</li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://rrhh.unefm.edu.ve/descargar/LOTT.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ley Orgánica del Trabajo, los Trabajadores y Trabajadoras</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://www.inpsasel.gob.ve/moo_doc/lopcymat.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ley Orgánica de prevención, Condiciones y Medios Ambiente de Trabajo</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://www.alcaldiadeiribarren.com.ve/archivos/ordenanzas/1672_ord_convivencia_ciudadana.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ordenanza de convivencia Ciudadana y Sanción de infracciones Menores</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://www.derechos.org.ve/pw/wp-content/uploads/ley_deudor.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ley de Protección al Deudor Hipotecario de Vivienda</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://images.eluniversal.com//2008/08/04/leyh24.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ley del Régimen Prestacional de Vivienda y Hábitat</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://www.mp.gob.ve/c/document_library/get_file?p_l_id=40513&folderId=310193&name=DLFE-2427.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ley Contra el Desalojo y Desocupación Arbitraria de Viviendas</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://docs.venezuela.justia.com/federales/leyes/ley-de-venta-de-parcelas.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ley de Venta de Parcelas</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://www.ucv.ve/fileadmin/user_upload/auditoria_interna/Archivos/Material_de_Descarga/Ley_Organica_de_Ordenacion_Urbanistica_-_33.868.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Ley de Ordenación Urbanística</a></li>
                        <li class="section-subheading text-muted center-block" alling="center"><a href="http://www.obelisco.com.ve/publicaciones/noticias/REGLAMENTO_LEY_ARRENDAMIENTOS_VIVIENDAS.pdf" target="_blank"><span class="glyphicon glyphicon-ok"></span> Reglamento de la Ley para la Regularización y Control de Arrendamientos de Viviendas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
 
    <!-- Contacto Section -->
    <section id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contacto</h2>
                    <h3 class="section-subheading text-muted">Para contactar con nosotros y obtener nuestros servicios por favor complete el formulario.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="form_contacto">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ Contact_form.nombre }}
                            {{ Contact_form.nombre.errors }}
                        </div>
                        <div class="form-group">
                            {{ Contact_form.email }}
                            {{ Contact_form.email.errors }}
                        </div>
                        <div class="form-group">
                            {{ Contact_form.mensaje }}
                            {{ Contact_form.mensaje.errors }}
                        </div>
                        <div id="email_success"></div>
                                                
                        <button type="submit" class="btn btn-xl">Enviar Mensaje</button>
                    </form>
                </div>
            </div>
        </div>

        <script>
            function enviar_correo(){                

                var parametros = {
                    "inputName" : $('#inputName').val(),
                    "inputEmail" : $('#inputEmail').val(),
                    "inputMensaje" : $('#inputMensaje').val()
                };

                $.ajaxSetup({
                    beforeSend: function(xhr, settings){
                        $("#email_success").html('<p>Enviando, espere por favor...</p>');
                        function getCookie(name){
                            var cookieValue = null;
                            if(document.cookie && document.cookie != ''){
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++){
                                    var cookie = jQuery.trim(cookies[i]);
                                    if (cookie.substring(0, name.length + 1) == (name + '=')){
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                        return cookieValue;
                        }
                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        }
                    }
                });

                $.ajax({
                    data:  parametros,
                    url:   'envio_correo/',
                    type:  'POST',
                    success:  function () {
                        $("#email_success").html('<div class="alert alert-success text-center" role="alert"><b>Su mensaje se ha enviado satisfactoriamente.</b></div>');
                    },
                    error : function() {
                        $("#email_success").html('<div class="alert alert-danger text-center" role="alert"><b>Ha ocurrido un error durante el envio de su mensaje.</b></div>');
                    }
                });                
            }

            $('#form_contacto').submit(function(){                 
                event.preventDefault();
                enviar_correo(); 
            });
        </script>
    </section>

    <footer class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Administradora JJ24-30</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/agency.js' %}"></script>

</body>

</html>