  <div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu">

            {% if user.rol == 1 %}
              <li class="site-menu-category">Propietario</li>

              <li class="site-menu-item">
                <a class="animsition-link" href="/inicio">
                  <i class="site-menu-icon fa fa-home" aria-hidden="true"></i>
                  <span class="site-menu-title">Inicio</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" href="/registrar-pago">
                  <i class="site-menu-icon fa fa-file-text" aria-hidden="true"></i>
                  <span class="site-menu-title">Registrar Pago</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" href="/relacion-gastos">
                  <i class="site-menu-icon fa fa-book" aria-hidden="true"></i>
                  <span class="site-menu-title">Relación de Gastos</span>
                </a>
              </li>
            {% endif %}

            {% if user.rol == 2 %}
            <li class="site-menu-category">Administrador</li>

            <li class="site-menu-item">
              <a class="animsition-link" href="{% url 'administradora_app:condominioRegistrar' %}" data-slug="angular">
                <i class="site-menu-icon bd-angular" aria-hidden="true"></i>
                <span class="site-menu-title">Condominio</span>
              </a>
            </li>        
            <li class="site-menu-item">
              <a class="animsition-link" href="{% url 'administradora_app:proveedorRegistrar' %}" data-slug="angular">
                <i class="site-menu-icon bd-angular" aria-hidden="true"></i>
                <span class="site-menu-title">Proovedor</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a class="animsition-link" href=" {% url 'administradora_app:servicioMensualRegistrar' %}" data-slug="angular">
                <i class="site-menu-icon bd-angular" aria-hidden="true"></i>
                <span class="site-menu-title">Servicios mensuales</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a class="animsition-link" href=" {% url 'administradora_app:servicioEspecialRegistrar' %}" data-slug="angular">
                <i class="site-menu-icon bd-angular" aria-hidden="true"></i>
                <span class="site-menu-title">Servicios especiales</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a class="animsition-link" href=" {% url 'administradora_app:costoServicioEspecialRegistrar' %}" data-slug="angular">
                <i class="site-menu-icon bd-angular" aria-hidden="true"></i>
                <span class="site-menu-title">Costos especiales</span>
              </a>
            </li>
            <li class="site-menu-item">
              <a class="animsition-link" href=" {% url 'administradora_app:costoServicioMensualRegistrar' %}" data-slug="angular">
                <i class="site-menu-icon bd-angular" aria-hidden="true"></i>
                <span class="site-menu-title">Costos mensuales</span>
              </a>
            </li>
            {% endif %}

            {% if user.rol == 3 %}
              <li class="site-menu-category">Administrador Global</li>

              <li class="site-menu-item">
                <a class="animsition-link" href="/inicio">
                  <i class="site-menu-icon fa fa-home" aria-hidden="true"></i>
                  <span class="site-menu-title">Inicio</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" href="/registrar-pago">
                  <i class="site-menu-icon fa fa-file-text" aria-hidden="true"></i>
                  <span class="site-menu-title">Registrar Pago</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" href="/relacion-gastos">
                  <i class="site-menu-icon fa fa-book" aria-hidden="true"></i>
                  <span class="site-menu-title">Relación de Gastos</span>
                </a>
              </li>
            {% endif %}  
          </ul>
        </div>
      </div>
    </div>
  </div>