{% extends "base.html" %}

{% block contenido %}
<div class="page animsition mostrar">
	<div class="page-header">
    <h1 class="page-title">Registrar Pago</h1>
  </div>
	<div class="page-content container-fluid">
		<div class="row">
		  <div class="col-sm-12">
		    <!-- Panel Floating Lables -->
		    <div class="panel">
	        <div class="panel-body container-fluid">
	          <form >

	          	<div class="form-group form-material floating row">
	              <div class="col-sm-6">
	                <select class="form-control input-lg" name="banco" id="banco">
	                	<option value=""></option>
										<option value="156">100% BANCO, BANCO COMERCIAL, C.A.</option>
										<option value="172">BANCAMIGA BANCO MICROFINANCIERO, C.A.</option>
										<option value="171">BANCO ACTIVO, C.A. BANCO COMERCIAL</option>
										<option value="166">BANCO AGRICOLA DE VENEZUELA, C.A. BANCO UNIVERSAL</option>
										<option value="175">BANCO BICENTENARIO BANCO UNIVERSAL, C.A.</option>
										<option value="128">BANCO CARONI, C.A. BANCO UNIVERSAL</option>
										<option value="001">BANCO CENTRAL DE VENEZUELA</option>
										<option value="141">BANCO CONFEDERADO, S.A., BANCO COMERCIAL REGIONAL</option>
										<option value="177">BANCO DE LA FUERZA ARMADA NACIONAL BOLIVARIANA,BANCO UNIVERSAL, C.A.</option>
										<option value="146">BANCO DE LA GENTE EMPRENDEDORA BANGENTE, C.A.</option>
										<option value="102">BANCO DE VENEZUELA S.A.C.A. BANCO UNIVERSAL</option>
										<option value="114">BANCO DEL CARIBE, C.A. BANCO UNIVERSAL</option>
										<option value="149">BANCO DEL PUEBLO SOBERANO, C.A. BANCO DE DESARROLLO</option>
										<option value="163">BANCO DEL TESORO, C.A. BANCO UNIVERSAL</option>
										<option value="176">BANCO ESPIRITO SANTO, S.A.</option>
										<option value="115">BANCO EXTERIOR, C.A. BANCO UNIVERSAL</option>
										<option value="008">BANCO GUAYANA, C.A.</option>
										<option value="003">BANCO INDUSTRIAL DE VENEZUELA, C.A.</option>
										<option value="173">BANCO INTERNACIONAL DE DESARROLLO, C.A.</option>
										<option value="105">BANCO MERCANTIL, C.A. S.A.C.A. BANCO UNIVERSAL</option>
										<option value="191">BANCO NACIONAL CRÉDITO, C.A. BANCO UNIVERSAL</option>
										<option value="116">BANCO OCCIDENTAL DE DESCUENTO BANCO UNIVERSAL</option>
										<option value="138">BANCO PLAZA, C.A.</option>
										<option value="108">BANCO PROVINCIAL, S.A. BANCO UNIVERSAL</option>
										<option value="137">BANCO SOFITASA BANCO UNIVERSAL, C.A.</option>
										<option value="168">BANCRECER S.A. BANCO DE DESARROLLO</option>
										<option value="134">BANESCO BANCO UNIVERSAL S.A.C.A.</option>
										<option value="007">BANFOANDES, BANCO UNIVERSAL, C.A.</option>
										<option value="147">BANORTE</option>
										<option value="174">BANPLUS BANCO COMERCIAL, C.A. </option>
										<option value="151">BFC BANCO FONDO COMUN C.A. BANCO UNIVERSAL</option>
										<option value="150">BOLÍVAR BANCO, C.A.</option>
										<option value="158">C.A., CENTRAL BANCO UNIVERSAL</option>
										<option value="190">CITIBANK N.A.</option>
										<option value="157">DEL SUR BANCO UNIVERSAL, C.A.</option>
										<option value="601">INSTITUTO MUNICIPAL DE CRÉDITO POPULAR</option>
										<option value="169">MI BANCO, BANCO DE DESARROLLO, C.A. </option>
										<option value="104">VENEZOLANO DE CRÉDITO, S.A. BANCO UNIVERSAL</option>
	              	</select>
	                <label class="floating-label">Banco</label>
	              </div>
	              <div class="col-sm-6">
	                <select class="form-control input-lg" name="tipoPago" id="tipoPago">
	                	<option value=""></option>
		                <option value="transferencia">Transferencia</option>
		                <option value="deposito">Deposito en efectivo</option>
		                <option value="cheque">Cheque</option>
	              	</select>
	              	<label class="floating-label">Tipo de pago</label>
	              </div>
	            </div>

	            <div class="form-group form-material floating row">
	              <div class="col-sm-6">
	                <input type="text" class="form-control input-lg" name="numeroReferencia" id="numeroReferencia" required/>
	                <label class="floating-label">Numero de referencia</label>
	              </div>
	              <div class="col-sm-6">
	                <input type="number" class="form-control input-lg" name="monto" id="monto" required/>
	                <label class="floating-label">Monto  Bs.</label>
	              </div>
	            </div>

	            <div class="form-group form-material floating">         
                <input type="text" class="form-control input-lg" data-plugin="datepicker" name="fecha" id="fecha" required>
                <label class="floating-label"><i class="icon wb-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Fecha del pago</label>
              </div>

	            <div class="form-group form-material floating">
	              <textarea class="form-control input-lg" rows="3" name="textareaFloating" name="detalle" id="detalle" required></textarea>
	              <label class="floating-label">Especifique que canceló</label>
	            </div>

	            <div class="form-group">
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div> 
	            
	          </form>
	        </div>
	      </div>
		    <!-- End Panel Floating Lables -->
		  </div>
		</div>
	</div>
</div>
{% endblock contenido %}